<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>NLP sentiment analysis</title>
    <script type="text.javascript" src="./main.js"></script>
</head>
<body>
    <header>
        <div class="container">
            Logo
        </div>
        <div class="container">
            navigation
        </div>
    </header>
    <main>
        <section>
            <form class =''>
                <input id="url" type="text" value="" onblur="onBlur()" placeholder="enter URL here">
                <input id="submit-btn" type="submit" value="Submit">
            </form>
        </section>

        <section>
            <strong>Results:</strong>
            <div>
                <span id="score_tag"></span>
            </div>
            <div>
                <span id="agreement"></span>
            </div>
            <div>
                <span id="subjectivity"></span>
            </div>
            <div>
                <span id="confidence"></span>
            </div>
            <div>
                <span id="irony"></span>
            </div>
        </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>
</body>
</html>