<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>NLP sentiment analysis</title>
    <link rel="stylesheet" href="/styles/resets.scss">
    <link rel="stylesheet" href="/styles/base.scss">
    <link rel="stylesheet" href="/styles/header.scss">
    <link rel="stylesheet" href="/styles/form.scss">
    <link rel="stylesheet" href="/styles/footer.scss">
</head>

<body>

    <header>
        <div class="container">
            Logo
        </div>
        <div class="container">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form onsubmit="return handleSubmit(event)">
                <input id="url" type="text" value="" onblur="onBlur()" placeholder="URL">
                <input id="submit-btn" type="submit" value="Submit">
            </form>
        </section>

        <section>
            <strong>Form Results:</strong>
            <div id="results"></div>
            <div>
                <span>Score Tag:</span>
                <span id="score_tag"></span>
            </div>
            <div>
                <span>Agreement:</span>
                <span id="agreement"></span>
            </div>
            <div>
                <span>Subjectivity:</span>
                <span id="subjectivity"></span>
            </div>
            <div>
                <span>Confidence:</span>
                <span id="confidence"></span>
            </div>
        </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>

    <script src="../dist/formHandler.js"></script>
    <script src="../dist/checkURL.js"></script>
</body>
</html>